<div class = "left-sideber">
  <div class = "User-information">
    <h3>User Info</h3>
    <%= attachment_image_tag @user, :profile_image_id, :fill, 60, 60, fallback: "no_image.jpg" %>
    <p>name</p>
    <p>introduction</p>
    <%= link_to "edit_profile", edit_user_registration_path %>
  </div>
  <div class = "New-book">
    <h3>New book</h3>
    <%= form_with model:@book, local:true do |f| %>
    <div class = "new-book-title">
      <label for = "book_title">Title</label>
      <%= f.text_field :title %>
    </div>
    <div class = "new-book-body">
      <label for = "book_body">Opinion</label>
      <%= f.text_area :body %>
    </div>
    <div class = "action"><%= f.submit 'Create Book' %></div>
    <% end %>
  </div>
</div>

<div class = "right-sideber">
  <div class = "books-index">
    <h3>Books</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan = "3"></th>
        </tr>
      </thead>
      <tbody>

        <tr>
          <td><%= attachment_image_tag @user, :profile_image_id, :fill, 60, 60, fallback: "no_image.jpg" %><td>
          <td><%= link_to @book_new.title, book_path %></td>
          <td><%= @book_new.body %></td>
        </tr>

      </tbody>
    </table>
  </div>
</div>