<div class = "container">
  <% if @book.errors.any? %>
    <%= @book.errors.count %>error prohibited this obj from being saved:
      <% @book.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
      <% end %>
    <% end %>
  <div class = "row">

<div class = "col-lg-4" style = "background-color: limegreen;">
  <div class = "User-information">
    <h3>User Info</h3>
    <%= attachment_image_tag current_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
    <table>
      <tr>
        <td>name</td>
        <td><%= current_user.name %></td>
      </tr>
      <tr>
        <td>introduction</td>
        <td><%= current_user.introduction %></td>
      </tr>
    </table>
    <%= link_to "edit_profile", edit_user_path(current_user) %>
  </div>
  <div class = "New-book">
    <h3>New book</h3>
    <%= form_with model:@book, local:true do |f| %>
    <div class = "new-book-title">
      <label for = "book_title">Title</label>
      <%= f.text_field :title %>
    </div>
    <div class = "new-book-body">
      <label for = "book_body">Opinion</label>
      <%= f.text_area :body %>
    </div>
    <div class = "action"><%= f.submit 'Create Book' %></div>
    <% end %>
  </div>
</div>

<div class = "col-lg-8">
  <div class = "books-index">
    <h3>Books</h3>
    <table class = "table table-striped">
      <thead>
        <tr>
          <th></th>
          <th>Title</th>
          <th>Opinion</th>
          <th colspan = "3"></th>
        </tr>
      </thead>
      <tbody>
      <% @books.each do |book| %>
        <tr>
          <td><%= link_to user_path(book.user_id) do %>
          <%= attachment_image_tag book.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
          <% end %></td>
          <td><%= link_to book.title, book_path(book.id) %></td>
          <td><%= book.body %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>