<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/c6191b4f04.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class = "navbar navbar-expand-lg navbar-dark bg-dark">
        <div class = "container">
          <li class = "navbar-brand">
            <%= link_to "Bookers", root_path %>
          </li>
          <button class = "navbar-toggler collapsed" type = "button" data-toggle = "collapse" data-target = "#navbarNavDropdown"
          aria-controls = "navbarNavDropdown" aria-expanded = "false" aria-label = "Toggle navigation">
            <span class = "navbar-toggler-icon"></span>
          </button>
          <div class = "navbar-collapse collapse" id = "navbarNavDropdown" style>
            <ul class = "navbar-nav ml-auto">
              <% if user_signed_in? %>
              <li>
                <%= link_to user_path(current_user.id) do%>
                <i class="fas fa-home"> Home</i>
                <% end %>
              </li>
              <li>
                <%= link_to users_path do%>
                <i class="fas fa-users"> Users</i>
                <% end %>
              </li>
              <li>
                <%= link_to books_path do%>
                <i class="fas fa-book-open"> Books</i>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fas fa-sign-out-alt"> logout</i>
                <% end %>
              </li>
              <% else %>
              <li>
                <%= link_to root_path do %>
                <i class="fas fa-home"> Home</i>
                <% end %>
              </li>
              <li>
                <%= link_to home_about_path do %>
                <i class="fas fa-link"> About</i>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_registration_path do %>
                <i class="fas fa-user-plus"> sign up</i>
                <% end %>
              </li>
              <li>
                <%= link_to new_user_session_path do%>
                <i class="fas fa-sign-in-alt"> login</i>
                <% end %>
              </li>
              <% end%>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <p class="notice">
       <%= notice %>
      </p>
    <%= yield %>
    </main>

    <footer>
      <div class ="container mt-5">
        <div class = "row">
          <div class = "mx-auto">
            <p>CopyRight Infratop.inc</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
